@import 'src/scss/constant.scss';
@import 'src/scss/utils.scss';

.container{
  margin: 0 auto;
}

.form {
  width: 60%;
  border-radius: 40px;
  border: solid 1px #c1bfbf;
  margin: 2rem auto;
  background: rgb(247, 248, 252);
  padding-top: adaptive-size(60, 15);
  padding-bottom: adaptive-size(60, 15);
  padding-right: adaptive-size(100, 20);
  padding-left: adaptive-size(100, 20);
  display: flex;
  flex-direction: column;
}


.errors{
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  color: #3f36e7;
  padding: 0px 0.2rem;
  min-height: 2rem;
}

.inputWrapper{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3f36e7;
  align-self: center;
  margin-bottom: 1rem;
}

.login {
  align-self: center;
}

.tittle {
  color: rgb(52, 83, 121);
  font-family: $font-stack;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}