@import 'src/scss/constant.scss';
.btn{
  background-color: #3f36e7;
  color: #f0efef;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.4ms;

  &:hover{
    background-color: #362ecb;
  }
}