@import 'src/scss/constant.scss';

.dialog {
  height: 100%;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  gap: 2%;

}

.emptyDialog{
  display: none;
  align-self: center;
  justify-self: center;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  color: #6f68f3;
}

.dialog .emptyDialog:only-child {
  display: block;
}

.new{
  align-self: center;
  justify-self: center;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  color: #6f68f3;
}

